<h1>Cheerups!</h1>

<a href="https://coopscheerups.herokuapp.com/new"><button class='nav'>New Cheerup</button></a>
<div class="container">
{{#each cheerupsList as |cheerup|}}
<div class="cheerup">
  <div class="box">
    <p>"{{cheerup.quote}}"<br>{{cheerup.author}}</p>
    <a href="https://coopscheerups.herokuapp.com/edit/{{cheerup.id}}"><button>Edit &#128077;+{{cheerup.likes}}</button></a>
    <div class="links">
      <form action="/{{cheerup.id}}?_method=delete" method="post">
        <input class="button" type="submit" value="Remove">
      </form>
    </div>
  </div>
</div>
{{/each}}
</div>

<h2>“Take the time today to love yourself. You deserve it.” Avina Celeste</h2>

{{!-- https://www.goodhousekeeping.com/health/wellness/g2401/inspirational-quotes/ --}}
{{!-- quotes --}}
